<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @iine.user_id %>
</p>

<p>
  <strong>Example:</strong>
  <%= @iine.example_id %>
</p>

<%= link_to 'Edit', edit_iine_path(@iine) %> |
<%= link_to 'Back', iines_path %>
